---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import aaron from '../assets/images/aaron.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main style="display: flex; flex-direction: row; align-items: top; justify-content: center; width: 100%;">
			<Image src={aaron} alt="Aaron Davies" />
			<section style="margin: 3em;">
				<h1 class="mb-6 h1">My name is Aaron Davies.</h1>
				<p>I’m a writer based out of Wellington, New Zealand.</p>
				<p>
					I write project articles to highlight great products and create technical documentation for devices and services. I also make videos, do photography and
					give public presentations.
				</p>
				<p>
					My vast and impressive array of work has been featured on <a href="/blog/2015/04/22/raspberry-pi-2-powered-arcade">IGN.com</a>, <a href="http://www.stuff.co.nz/the-press/technology/8278539/Your-view-Game-Masters-at-Te-Papa" target="_blank" rel="nofollow noopener noreferrer">Stuff.co.nz</a> and <a href="https://www.element14.com/community/community/raspberry-pi/raspberrypi_projects/blog/2016/04/25/noir-v2-video-streaming-baby-monitor" target="_blank" rel="nofollow noopener noreferrer">element14.com</a>.
				</p>
				<p>
					On the side I maintain my <a href="/blog/">personal blog</a> and enjoy running, video games, creative writing and advocating for important causes.
				</p>
				<ul class="want">
					<li>
						Want to start somewhere? <a href="https://www.element14.com/community/community/raspberry-pi/raspberrypi_projects/blog/2015/06/23/the-secrets-of-the-pi-camera--car-dvr-system" target="_blank" rel="nofollow noopener noreferrer">Read this</a>.
					</li>
					<li>
						Want to read something personal? <a href="/blog/2017/04/11/dating-is-hard-and-i-am-very-awkward">Look here</a>.
					</li>
					<li>
						Want to hire my services? <a href="mailto:aaronights@gmail.com?Subject=Work">Email here</a>.
					</li>
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
